#header {
    background-color: #333333;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 0px;
}

#reveal {
    position: relative;
    height: 65vh;
    align-content: center;
    display: inline-block;
}

#ModelViewerContainer {
    border-style: solid;
    border-width: thin;
    border-color: #AAAAAA;
    margin-bottom: 20px;
}

#ModelViewerAR {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    margin-left: auto;
    margin-right: auto;
}

#instruction {
    color: #AAAAAA;
    font-style: italic;
    font-size: 10pt;
    padding-top: 5px;
}

#gallery {
    margin-top: 0px;
    margin-bottom: 15;
}

#thumbnails {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.TwoButtons {
    display: inline-inline;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ProductDescription {
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.ReturnLink {
    margin-top: 70px;
    margin-bottom: 15px;
}